$font: 'Roboto', sans-serif;

@mixin fontstyle($weight, $size, $lineheight, $fontfamily, $color) {
  font-weight: $weight;
  font-size: $size;
  font-family: $fontfamily;
  line-height: $lineheight;
  color: $color;
}
