<!DOCTYPE html>
<html lang="zh-Hant-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>icon.png" />
    <link rel="manifest" href="<%= BASE_URL %>manifest.json" />
    <title>即時反饋系統</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but real-time-app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
