<template>
  <section class="missionComplete">
    <h2 class="missionComplete-title">任務{{ $store.getters.missionCompleteLevelCache | $_indexChineseDisplay }}完成！</h2>
    <section class="missionComplete-card">
      <h3 class="card-title">
        <span>編號：{{ $store.getters.userSymbol }}</span>
        <span>{{ $store.getters.name }}</span>
        <span>{{ missionDate }}</span>
      </h3>
      <p class="card-text"
         v-for="(item, index) in $store.getters.setMissionCurrentTime($store.getters.missionCompleteLevelCache)"
         :key="index">
        任務{{ $store.getters.missionCompleteLevelCache | $_indexDisplay }}-{{ index }}：{{
        item.minute
        }}分鐘{{ item.second }}秒
      </p>
    </section>
    <div class="missionComplete-button">
      <buttonPrimary @click="nextPage">完成</buttonPrimary>
    </div>
  </section>
</template>

<script>
  import buttonPrimary from '@/components/buttonPrimary.vue';
  import mixin from '@/mixins/mixin';

  export default {
    mixins: [mixin],
    components: {
      buttonPrimary
    },
    computed:{
      missionDate(){
        return this.$moment(this.$store.state.user.missionLevelTime[0][1]).format('YYYY/MM/DD')
      }
    },
    methods: {
      nextPage() {
        if (this.$store.getters.missionCompleteLevelCache === 3) {
          this.$router.push({ name: 'missionCompleteText' });
          return;
        }
        if (
          this.$store.getters.missionCompleteLevel.level ===
          this.$store.getters.missionCompleteLevelCache
        ) {
          this.$store.commit('setMissionCompleteLevel', {
            level: this.$store.getters.missionCompleteLevel.level + 1,
            section: 0
          });
        }
        this.$router.push({ name: 'missionLevel' });
      }
    }
  };
</script>

<style lang="scss" scoped>
  .missionComplete {
    width: 370px;
    padding-top: 111px;
    margin: 0 auto;
    &-title {
      margin-bottom: 18px;
      text-align: center;
      @include fontstyle(900, 26px, 1.15, $font, #757575);
    }
    &-card {
      background-color: $white;
      border-radius: 13px;
      padding: 26px 37px 34px 37px;
      box-shadow: 0px 1px 3px #00000029;
      .card {
        &-title {
          text-align: center;
          @include fontstyle(900, 20px, 1.15, $font, #757575);
          margin-bottom: 23px;
          span + span {
            margin-left: 12px;
          }
        }
        &-text {
          text-align: center;
          @include fontstyle(700, 16px, 2, $font, #757575);
        }
      }
    }
    &-button {
      margin: 42px auto 0px auto;
      text-align: center;
      .boxshadow {
        box-shadow: 0px 3px 6px #00000029;
      }
    }
  }
</style>
