<template>
  <div class="missionInstruction">
    <div class="missionInstruction-card">
      <h3>
        任務{{
        $store.getters.missionCompleteLevel.level | $_indexChineseDisplay
        }}
      </h3>
      <p v-for="(item, index) in missionLevelMessage"
         :key="index"
         v-html="item"></p>
    </div>
    <div class="missionInstruction-button">
      <buttonPrimary @click.prevent="nextPage">開始</buttonPrimary>
    </div>
    <div class="blackview"
         v-if="blackview"></div>
  </div>
</template>

<script>
  import mixin from '@/mixins/mixin';
  import buttonPrimary from '@/components/buttonPrimary.vue';
  export default {
    mixins: [mixin],
    components: {
      buttonPrimary
    },
    created() {
      this.$store.commit('setPageHome');
    },
    destroyed() {
      this.$store.commit('setPageHome');
    },
    data: function() {
      return {
        messionMessage: [
          ['1.使用點名功能簽到', '2.查看課程成績中的排名（點擊）'],
          [
            '1.使用答題功能<br/><span style="padding-left: 11px;"></span>回答第一題，選擇A選項<br/><span style="padding-left: 11px;"></span>並說出答題是否正確',
            '2.查看點名紀錄，查看後點擊確認'
          ],
          [
            '1.使用答題功能<br/><span style="padding-left: 11px;"></span>回答第一題，選擇B選項<br/><span style="padding-left: 11px;"></span>並說出答題是否正確',
            '2.查看本課程的出席率(點擊)',
            '3.觀看「12/3停課一周」的公告'
          ],
          [
            '1.使用私訊老師的功能<br/><span style="padding-left: 11px;"></span>新增「我懂了」的選項回饋老師',
            '2.查看本課程的答題正確率(點擊)',
            '3.查看本課程的修課人數(點擊)'
          ]
        ],
        blackview: false,
        vibrateData: true,
        intervalNumber: null
      };
    },
    computed: {
      missionLevelMessage() {
        return this.messionMessage.find(
          (value, index) =>
            index === this.$store.getters.missionCompleteLevel.level
        );
      }
    },
    methods: {
      nextPage() {
        this.blackview = !this.blackview;
        console.log(this.$store.getters.stopSecond);
        const timeOutID = setTimeout(() => {
          this.$router.push({ name: 'missionStart' });
          this.$store.commit('setMissionLevelTime', {
            level: this.$store.getters.missionCompleteLevel.level,
            section: 0
          });
          clearTimeout(timeOutID);
        }, this.$store.getters.stopSecond * 1000);
      }
    }
  };
</script>

<style lang="scss" scoped>
  .missionInstruction {
    padding-top: 18.6vh;
    width: 87.5%;
    max-width: 495px;
    margin: auto;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    &-card {
      background: $white;
      border-radius: 13px;
      box-shadow: #00000029 0px 1px 3px;
      padding: 15px 30px 21px 30px;
      margin-bottom: 48px;
      h3 {
        @include fontstyle(700, 26px, 1.5, $font, #757575);
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        @include fontstyle(700, 16px, 1.5, $font, #757575);
        padding-left: 34px;
        margin-top: 10px;
      }
      p + p {
        border-top: #707070 1px solid;
        padding-top: 10px;
      }
      pre {
        white-space: pre-wrap;
      }
    }
    &-button {
      text-align: center;
    }
    .blackview {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background-color: #000;
    }
  }
</style>
