<template>
  <div class="course">
    <component @changeComponent="$_nextPage"
               @setTimer="$_setTimer"
               :is="activeComponentId"></component>
  </div>
</template>

<script>
  import courseHome from '@/components/course/courseHome.vue';
  import courseSuspension from '@/components/course/courseSuspension.vue';
  import courseHomework from '@/components/course/courseHomework.vue';

  import mixin from '@/mixins/mixin';
  export default {
    mixins: [mixin],
    data: function() {
      return {
        componentId: 'courseHome'
      };
    },
    computed: {
      activeComponentId() {
        if (!this.$store.state.user.changePageComponent) {
          return this.componentId;
        }
        switch (this.$store.state.user.currentPageComponent) {
          case 'courseSuspension':
            this.componentId = 'courseHome';
            this.$store.commit('changePageComponent');
            return this.componentId;
          case 'courseHomework':
            this.componentId = 'courseHome';
            this.$store.commit('changePageComponent');
            return this.componentId;
        }
      }
    },
    components: {
      courseHome,
      courseSuspension,
      courseHomework
    }
  };
</script>

<style lang="scss" scoped>
  .course {
    width: 92%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 15px;
  }
</style>
