<template>
  <component :is="activeComponentId"
             @changeComponent="$_nextPage"></component>
</template>

<script>
  import messageTyping from '@/components/messageTyping.vue';
  import buttonQuaternary from '@/components/buttonQuaternary.vue';
  import buttonQuinary from '@/components/buttonQuinary.vue';
  import publicMessage from '@/components/publicMessage/publicMessage.vue';
  import publicMessageDetail from '@/components/publicMessage/publicMessageDetail.vue';
  import mixin from '@/mixins/mixin';

  export default {
    mixins: [mixin],
    data: function() {
      return {
        componentId: 'publicMessage'
      };
    },
    computed: {
      activeComponentId() {
        if (!this.$store.state.user.changePageComponent) {
          return this.componentId;
        }
        switch (this.$store.state.user.currentPageComponent) {
          case 'publicMessageDetail':
            this.componentId = 'publicMessage';
            this.$store.commit('changePageComponent');
            return this.componentId;
        }
      }
    },
    components: {
      messageTyping,
      buttonQuaternary,
      buttonQuinary,
      publicMessageDetail,
      publicMessage
    }
  };
</script>

<style lang="scss" scoped>
  .public-message {
    margin: 0 auto;
    width: 92%;
    max-width: 500px;
    padding-top: 28px;
    height: 100%;
    position: relative;
    &-card {
      background: #fff;
      position: relative;
      padding: 9px 12px;
      min-height: 170px;
      box-shadow: 0px 3px 6px #00000029;
      &:last-child {
        margin-bottom: 36px;
      }
    }
  }
  .public-button {
    text-align: center;
    margin-top: 37px;
  }

  .message {
    &-header {
      display: block;
      margin-bottom: 10px;
      img {
        display: inline-block;
        width: 29px;
        height: 29px;
        vertical-align: top;
        margin-right: 5px;
      }
      > div {
        display: inline-block;
        width: calc(100% - 34px);
        vertical-align: top;
      }
      h5 {
        @include fontstyle(700, 16px, 1, $font, #474747);
        margin-bottom: -3px;
      }
      time {
        display: inline-block;
        @include fontstyle(400, 10px, 1, $font, #474747);
      }
    }
    &-content {
      h5 {
        margin-bottom: 3px;
        @include fontstyle(700, 14px, 1.2, $font, #474747);
      }
      p {
        display: inline-block;
        @include fontstyle(400, 10px, 1.5, $font, #474747);
      }
    }
    &-response {
      position: absolute;
      right: 16px;
      bottom: 9px;
      @include fontstyle(300px, 10px, 1, $font, #b7b7b7);
    }
    &-text {
      text-align: right;
      margin-bottom: 11px;
      margin-top: 11px;
      @include fontstyle(300px, 10px, 1, $font, #b7b7b7);
    }
  }
</style>