<template>
  <div class="quiz">
    <component @changeComponent="$_nextPage"
               @answer="answerFinish"
               :is="activeComponentId"
               :finishAnswerOne="finishAnswerOne"
               :finishAnswerTwo="finishAnswerTwo"></component>
  </div>
</template>

<script>
  import quizQuestionAbbreviation from '@/components/quiz/quizQuestionAbbreviation.vue';
  import quizQuestion from '@/components/quiz/quizQuestionTwo.vue';
  import quizQuestionTwo from '@/components/quiz/quizQuestion.vue';
  import quizPopover from '@/components/quiz/quizPopover.vue';
  import mixin from '@/mixins/mixin';

  export default {
    mixins: [mixin],
    data: function() {
      return {
        componentId: 'quizQuestionAbbreviation',
        finishAnswerOne: false,
        finishAnswerTwo: false
      };
    },
    computed: {
      activeComponentId() {
        if (!this.$store.state.user.changePageComponent) {
          return this.componentId;
        }
        switch (this.$store.state.user.currentPageComponent) {
          case 'quizQuestionTwo':
            this.componentId = 'quizQuestionAbbreviation';
            this.$store.commit('changePageComponent');
            return this.componentId;
          case 'quizQuestion':
            this.componentId = 'quizQuestionAbbreviation';
            this.$store.commit('changePageComponent');
            return this.componentId;
        }
      }
    },
    methods: {
      answerFinish(data) {
        this.$_setTimer(data);
        if (data.quiz === 0) this.finishAnswerOne = !this.finishAnswerOne;
        if (data.quiz === 1) this.finishAnswerTwo = !this.finishAnswerTwo;
      }
    },
    components: {
      quizQuestionAbbreviation,
      quizQuestion,
      quizQuestionTwo,
      quizPopover
    }
  };
</script>

<style lang="scss" scoped>
  .quiz {
    width: 92%;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 15px;
  }
</style>