<template>
  <img class="backward"
       src="../assets/images/backward.png"
       alt="backward" />
</template>

<script>
  export default {};
</script>

<style lang="scss" scoped>
  .backward {
    position: absolute;
    top: 34px;
    left: 12px;
    width: 28px;
  }

  .hide {
    display: none;
  }
</style>