<template>
  <div class="filter-popover" @click="$emit('click')"></div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.filter-popover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00000088;
  z-index: 99;
}
</style>