<template>
  <div class="rollcall-ontime">
    <p class="ontime-declare">準時！</p>
  </div>
</template>

<script>
  export default {
    created() {
      this.$store.commit('setpageComponent');
      this.$store.commit('storeCurrentPageComponent', 'rollcallOntime')
    },
    destroyed() {
      this.$store.commit('setpageComponent');
    },
  };
</script>

<style lang="scss" scoped>
  .rollcall {
    &-ontime {
      padding-top: 38.8vh;
      .ontime {
        &-declare {
          text-align: center;
          @include fontstyle(700, 40px, 1, $font, rgba(114, 114, 114, 1));
        }
      }
    }
  }
</style>