<template>
  <div class="rollcall-enroll">
    <time class="rollcall-time">{{ rollcolltime }}</time>
    <p class="rollcall-declare">正在點名！</p>
    <div class="rollcall-button">
      <buttonQuinary @click="$emit('setTimer', {componentId: 'rollcallOntime', missionTimeData:{level:0,section:1,nextLevel: 0, nextSection: 2}})">我到了</buttonQuinary>
    </div>
  </div>
</template>

<script>
  import buttonQuinary from '@/components/buttonQuinary.vue';
  export default {
    created() {
      this.$store.commit('setpageComponent');
      this.$store.commit('storeCurrentPageComponent', 'rollcallEnroll');
    },
    destroyed() {
      this.$store.commit('setpageComponent');
    },
    data() {
      const rollcolltime = this.$moment(new Date()).format('YYYY/MM/DD hh:mm');
      return {
        rollcolltime
      };
    },
    components: {
      buttonQuinary
    }
  };
</script>

<style lang="scss">
  .rollcall {
    &-enroll {
      @include fontstyle(700, 40px, 1.2, $font, #727272);
      text-align: center;
      padding-top: 29.6vh;
    }
    &-time {
      @include fontstyle(700, 40px, 1.2, $font, #727272);
      text-align: center;
      display: block;
      margin-bottom: 26px;
    }
    &-button {
      margin: 0 auto;
      margin-top: 10.8vh;
      width: 48.6vw;
      max-width: 250px;
    }
  }
</style>
